@tailwind base;
@tailwind components;
@tailwind utilities;

.article-wrapper img[src*=".gif" i] {
    max-width: 100%;
    height: auto;
    display: block;

    /* 防止黑边的关键两句 */
    image-rendering: pixelated !important;
    image-rendering: -moz-crisp-edges !important;
}


html {
    overflow-y: scroll;
}

.article-wrapper {
    display: flex;
    justify-content: center;
    padding: 2rem;
    background-color: #CFFF81;
}

.article-wrapper #newsletter-email {
    background: transparent !important;
}

.article-wrapper {
    font-family: inherit !important;
}
